.bsf
*.cmp
*.csv
*.rpt
*.spd
*.html
*~
db/*
incremental_db/*
ip/*
libraries
*.qarlog
*.qxp
*.ddb
*.bak
*.wlf

simulation/*
neural_network_bus/*
verification_bus/*
output_files/*
*.sopcinfo
*.txt
.qsys*
*.swp
*.qws
*.ini
